/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2020, 9:25:04 PM
    Author     : marianabojorquez
*/ 

button{
    background-color:#191919!important;
    color:#A3A1A1!important;
    border:0.5px solid #C4C4C4!important;
}
body{
    margin:0;
    background-color: black;

}
p{
    color:#A3A1A1!important;

}
.OutputTextTag{
    color:#A3A1A1!important;

}
body .ui-panelgrid .ui-panelgrid-cell {
    border: none!important;
}
.fa-rocket{
    color:#007CCD!important;
}
.fa-share{
    color:#007CCD!important;
}
.fa-question{
    color:#007CCD!important;
}
.fa-list-ol{
    color:#818384!important;
}
.fa-heart{
    color:#FE311B!important;

}
.fa-pencil-square-o{
    color:white;
}
.fa-reddit{
    color:#FE3F00!important;
}
.fa-github-alt{
    color:#505455;
}
.entrada {
    float:right;
}
.etiqueta{
    float:left;
    font-size: 22px!important;
}